/* Input Structure */
.inputField {
  display: block;
  border: none;
  border-bottom: 2px solid;
  background: #2980b9;
  font-size: 16px;
  padding: 5px 8px;
  position: relative;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #fff;

  /* Input Sizing */
  &-small {
    font-size: 14px;
    padding: 4px 6px;
  }

  &-large {
    font-size: 24px;
    padding: 10px 16px;
  }

  &-search::after {
    font-family: FontAwesome;
    content: '\f095';
    vertical-align: middle;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background: #eee;
  }
}