<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="utf-8"/>
    <style>
      .slider {
        width: 768px;
        height: auto;
        margin: 0 auto;
        position: relative;
      }
      .slide-img img {
        width: 100%;
        height: auto;
        vertical-align: middle;
      }
      .slide {
        width: 100%;
        height: 100%;
        position: relative;
      }
      .slide-hdl {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1010;
        color: #fff;
      }
      .slide-hdl h3 {
        font-size: 24px;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        text-align: center;
      }
      .hidden {
        display: none;
      }
      .active {
        display: block;
      }
      .slide-overlay {
        position: absolute;
        width: 100%;
        height: 40%;
        background: rgba(52, 152, 219, 0.7);
        bottom: 0;
        z-index: 1000;
        overflow: hidden;
      }
    </style>
  </head>
  <body>
    <h1>MovieDB</h1>
    <div id="slider-wrapper"></div>

    <!-- Template Slider -->
    <script type="text/x-handlebars-template" id="slider_tpl">
      <div id="slider" class="slider">
        {{#each results}}
        <div class="slide hidden">
          <div class="slide-img">
            <img src="https://image.tmdb.org/t/p/w780{{backdrop_path}}" alt="{{title}}"/>
          </div>
          <div class="slide-overlay">            
            <div class="slide-hdl">
              <h3>{{title}}</h3>
              <h5>{{overview}}</h5>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </script>
    <script type="text/javascript" src="js/main.js"></script>
  </body>
</html>